/*dela pagina principal*/
.ventana{
	width: 100%;
	height: 100%;
	 background: rgba(0, 0, 0, 0.9);
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	display: none;
	z-index: 999;
}
.contenido{
	width: 50%;
	height: 450px;
	font-family:  Playfair Display,serif;
	background-color: white;
	margin-left: 25%;
	top: 15%;
	position: absolute;
	display: flex;
	display: inline;
	border-radius: 2%;
}
.cerrar img{
	width: 25px;
	height: 25px;
	margin-right: -10px;
	margin-top: -10px;
}
.cerrar{
text-align: right;
}
.limite{
	width: 90%;
	overflow: auto;
	margin: auto;
	height: 65%;
	padding-left: 1em;
	padding-right: 1em;
}
.titulo{
	text-align: center;
}
.ventana_text{
	text-align: justify;
}
.ventana_text  img{
	width: 80%;
	height: 15em;
	text-align: center;
}
.laimg{
	width: 100%;
	text-align: center;
}
#barratitulo{
	width: 15em;
}
/*depla pagina ubicacion*/
.laimagen{
	display: none;
}